In [29]:
import glob
import pandas as pd

In [37]:
pds = []
csvs = glob.glob('*.csv')
for name in csvs:
    df = pd.read_csv(name).drop('Unnamed: 0', axis='columns')
    df['region'] = name.replace("cutted-", "").replace("-fed-district.csv","")
    pds.append(df)

In [38]:
pds[0]

,type,lon,lat,geometry,region
0,place::city,20.510584,54.710128,POINT (20.5105838 54.710128),kaliningrad.csv
1,place::town,19.894158,54.643721,POINT (19.8941584 54.6437214),kaliningrad.csv
2,amenity::ferry_terminal,21.130789,55.685593,POINT (21.1307891 55.6855933),kaliningrad.csv
3,place::town,20.475019,54.960037,POINT (20.4750188 54.9600365),kaliningrad.csv
4,place::suburb,20.334466,54.649849,POINT (20.3344662 54.6498486),kaliningrad.csv
...,...,...,...,...,...
9913,shop::motorcycle,20.564762,54.703164,POINT (20.5647621 54.703164),kaliningrad.csv
9914,shop::convenience,20.531660,54.733392,POINT (20.5316598 54.7333919),kaliningrad.csv
9915,shop::convenience,20.531835,54.733490,POINT (20.5318349 54.7334904),kaliningrad.csv
9916,shop::convenience,20.527207,54.736101,POINT (20.5272066 54.7361007),kaliningrad.csv
9917,tourism::artwork,20.521919,54.710210,POINT (20.5219195 54.7102101),kaliningrad.csv

In [39]:
pd.concat(pds)

,type,lon,lat,geometry,region
0,place::city,20.510584,54.710128,POINT (20.5105838 54.710128),kaliningrad.csv
1,place::town,19.894158,54.643721,POINT (19.8941584 54.6437214),kaliningrad.csv
2,amenity::ferry_terminal,21.130789,55.685593,POINT (21.1307891 55.6855933),kaliningrad.csv
3,place::town,20.475019,54.960037,POINT (20.4750188 54.9600365),kaliningrad.csv
4,place::suburb,20.334466,54.649849,POINT (20.3344662 54.6498486),kaliningrad.csv
...,...,...,...,...,...
91168,amenity::waste_disposal,61.338362,55.186009,POINT (61.3383624 55.1860088),ural
91169,amenity::hospital,61.337351,55.186145,POINT (61.3373512 55.1861451),ural
91170,healthcare::birthing_centre,61.337351,55.186145,POINT (61.3373512 55.1861451),ural
91171,amenity::waste_disposal,61.340457,55.186353,POINT (61.3404572 55.1863534),ural
91172,amenity::waste_disposal,61.342689,55.186340,POINT (61.3426888 55.1863396),ural

In [40]:
pd.concat(pds).to_csv('united_objs.csv')

In [41]:
df = pd.read_csv('united_objs.csv')

In [42]:
df.rename(columns={"Unnamed: 0": "id"}).to_csv('united_objs.csv', index=False)

In [43]:
df = pd.read_csv('united_objs.csv')

In [44]:
df

,id,type,lon,lat,geometry,region
0,0,place::city,20.510584,54.710128,POINT (20.5105838 54.710128),kaliningrad.csv
1,1,place::town,19.894158,54.643721,POINT (19.8941584 54.6437214),kaliningrad.csv
2,2,amenity::ferry_terminal,21.130789,55.685593,POINT (21.1307891 55.6855933),kaliningrad.csv
3,3,place::town,20.475019,54.960037,POINT (20.4750188 54.9600365),kaliningrad.csv
4,4,place::suburb,20.334466,54.649849,POINT (20.3344662 54.6498486),kaliningrad.csv
...,...,...,...,...,...,...
1254874,91168,amenity::waste_disposal,61.338362,55.186009,POINT (61.3383624 55.1860088),ural
1254875,91169,amenity::hospital,61.337351,55.186145,POINT (61.3373512 55.1861451),ural
1254876,91170,healthcare::birthing_centre,61.337351,55.186145,POINT (61.3373512 55.1861451),ural
1254877,91171,amenity::waste_disposal,61.340457,55.186353,POINT (61.3404572 55.1863534),ural
1254878,91172,amenity::waste_disposal,61.342689,55.186340,POINT (61.3426888 55.1863396),ural

In [45]:
df['region'].drop_duplicates().tolist()

['kaliningrad.csv',
 'south',
 'far-eastern',
 'crimean',
 'siberian',
 'volga',
 'northwestern',
 'north-caucasus',
 'central',
 'ural']

In [46]:
sum([len(pds0) for pds0 in pds])

1254879

In [47]:
len(pds)

10

In [ ]:
# Теперь можно переместить итоговый файл в df_dist и обработать там