In [1]:
import pandas as pd

#Парсим url адреса и создаём в csv с адресами новые столбцы с lat и lon

In [2]:
df = pd.read_csv("nts.csv")
df.head()

        id                                                url
0  6458347  https://maps.google.com/maps/api/staticmap?cen...
1  6458348  https://maps.google.com/maps/api/staticmap?cen...
2  6458349  https://maps.google.com/maps/api/staticmap?cen...
3  6458350  https://maps.google.com/maps/api/staticmap?cen...
4  6458351  https://maps.google.com/maps/api/staticmap?cen...

In [3]:
FAILED_URLS = []
def crds(o):
    #Парсим url-адрес и достаём координаты
    try:
        return [float(i) for i in o.split('&zoom')[0].split("?center=")[1].split("%2C")]
    except:
        FAILED_URLS.append(o)
        return None

In [4]:
FAILED_URLS = []
df['url'] = df['url'].apply(crds)
set(FAILED_URLS)

{'//www.gstatic.com/images/branding/product/1x/maps_round_512dp.png'}

In [5]:
#Смотрим адреса, для которых не удалось найти координаты
df_err = df[df['url'].isna()]
df_all = pd.read_csv('united_reestr.csv')[['id', 'address']].drop_duplicates()
df_postparse = pd.merge(df_all, df_err, left_on="id", right_on="id", how='inner')
df_postparse

         id                                            address   url
0   8001314  Респ. Коми, г. Инта, пгт. Верхняя Инта, ул. Св...  None
1   6907158                      ул.  Вахитова, д. 2 (дубль 2)  None
2   6906990                     ул.  Вахитова, д. 10 (дубль X)  None
3   7937625  край. Красноярский, р-н. Ачинский, д. Каменка,...  None
4   7937629  край. Красноярский, р-н. Ачинский, д. Каменка,...  None
5   7937647  край. Красноярский, р-н. Ачинский, д. Каменка,...  None
6   7937651  край. Красноярский, р-н. Ачинский, д. Каменка,...  None
7   7937633  край. Красноярский, р-н. Ачинский, д. Каменка,...  None
8   9118666           край. Красноярский, п. Строителей, д. 43  None
9   6461966  обл. Белгородская, г. Шебекино, ул. Б.Хмельниц...  None
10  8839967  обл. Брянская, р-н. Брянский, с. Глинищево, пе...  None
11  7958440  обл. Брянская, г. Сельцо, проезд. Горького, д. 12  None
12  8560706  обл. Владимирская, р-н. Киржачский, п. Горка, ...  None
13  7857712  обл. Иркутская, г. Нижнеудинск, ул. Индустриал...  None
14  7870721    обл. Иркутская, г. Тайшет, ул. Капустина, д. 20  None
15  8122358  обл. Иркутская, р-н. Усольский, п. Степной, д....  None
16  9021911  обл. Калининградская, г. Калининград, ул. Черн...  None
17  9063335  обл. Калужская, р-н. Жиздринский, г. Жиздра, у...  None
18  7853546  обл. Кемеровская, г. Анжеро-Судженск, ул. Коми...  None
19  6916284  обл. Кемеровская, г. Березовский, ул. 40 лет О...  None
20  7782931  обл. Московская, г. Подольск, ул. Клемента Гот...  None
21  7676591     обл. Оренбургская, г. Бузулук, мкр. 4-й, д. 14  None
22  8916690  край. Пермский, г. Александровск, рп. Всеволод...  None
23  6699032  край. Пермский, р-н. Очерский, г. Очер, ул. Ро...  None
24  6570422  край. Пермский, р-н. Очерский, г. Очер, ул. Ро...  None
25  7651822   обл. Псковская, р-н. Псковский, д. Соловьи, д. 6  None
26  9315398  обл. Ростовская, р-н. Азовский, п. Овощной, ул...  None
27  9362520  обл. Ростовская, р-н. Азовский, п. Овощной, ул...  None
28  9369689  обл. Ростовская, р-н. Азовский, п. Овощной, ул...  None
29  9362522  обл. Ростовская, р-н. Азовский, п. Овощной, ул...  None
30  7706780  обл. Рязанская, р-н. Милославский, п. Централь...  None
31  6475094  обл. Рязанская, р-н. Милославский, п. Централь...  None
32  6497282  обл. Рязанская, р-н. Милославский, п. Централь...  None
33  9015781  обл. Свердловская, р-н. Алапаевский, рп. Верхн...  None
34  6937320  обл. Свердловская, г. Березовский, п. Солнечны...  None
35  6548101  обл. Томская, р-н. Александровский, с. Алексан...  None
36  6548103  обл. Томская, р-н. Александровский, с. Алексан...  None
37  6548104  обл. Томская, р-н. Александровский, с. Алексан...  None
38  6548094  обл. Томская, р-н. Александровский, с. Алексан...  None
39  6700997  обл. Томская, р-н. Александровский, с. Алексан...  None
40  6700999  обл. Томская, р-н. Александровский, с. Алексан...  None
41  6701001  обл. Томская, р-н. Александровский, с. Алексан...  None
42  9001568  обл. Тульская, р-н. Суворовский, п. Центральны...  None
43  9005868  обл. Тульская, р-н. Суворовский, п. Центральны...  None
44  9005871  обл. Тульская, р-н. Суворовский, п. Центральны...  None
45  9005874  обл. Тульская, р-н. Суворовский, п. Центральны...  None
46  9005879  обл. Тульская, р-н. Суворовский, п. Центральны...  None
47  9005937  обл. Тульская, р-н. Суворовский, п. Центральны...  None
48  9006821  обл. Тульская, р-н. Суворовский, п. Центральны...  None
49  9006826  обл. Тульская, р-н. Суворовский, п. Центральны...  None
50  9006845  обл. Тульская, р-н. Суворовский, п. Центральны...  None
51  7908495                       ул.  Мотова, д. 55 (дубль X)  None
52  7401585  обл. Челябинская, р-н. Брединский, п. Рымникск...  None
53  7559437  г. Москва, б-р. Литовский, д. 3, к. 2 п.1,2,3,...  None
54  6463382  Аобл. Еврейская, р-н. Октябрьский, с. Полевое,...  None
55  8463466      АО. Ямало-Ненецкий, г. Ноябрьск, д. 45 п.УТДС  None
56  9053816    Респ. Крым, г. Ялта, п. Горное, д. 1, стр. 1917  None

In [6]:
df.dropna()

             id                         url
0       6458347    [55.9694301, 48.0176409]
1       6458348  [55.97463505, 48.02142405]
2       6458349      [55.969266, 48.014068]
3       6458350  [55.97463505, 48.02142405]
4       6458351    [56.3087085, 48.2554045]
...         ...                         ...
828001  7840942    [55.8106628, 38.4367883]
828002  7968168    [55.8093549, 38.4367198]
828003  7978337     [68.9984979, 33.076627]
828004  7978607     [69.001091, 33.0820239]
828005  7978623    [68.9981454, 33.0789756]

[827949 rows x 2 columns]

In [7]:
#Удаляем адреса, для которых не удалось найти координаты (позже можно их найти вручную)

df_correct = df[~df['url'].isna()]
df_all2 = pd.read_csv('united_reestr.csv').drop_duplicates()
df_all_correct = pd.merge(df_all2, df_correct, left_on="id", right_on="id", how='inner')
df_all_correct = df_all_correct.drop('Unnamed: 0', axis='columns').rename(columns={'url': 'coords'})
df_all_correct

,id,address,area_residential,filename,coords
0,9001067,"Респ. Адыгея, г. Адыгейск, д. 888888","2,00",export-reestrmkd-01-20221101.csv,"[44.8839425, 39.190786]"
1,6472757,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 25","1818,00",export-reestrmkd-01-20221101.csv,"[44.8796057, 39.1900185]"
2,6472669,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 27","1818,00",export-reestrmkd-01-20221101.csv,"[44.8797698, 39.1910836]"
3,8928733,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 31","2729,00",export-reestrmkd-01-20221101.csv,"[44.880272, 39.191226]"
4,6551241,"Респ. Адыгея, г. Адыгейск, ул. Коммунистическа...","2522,00",export-reestrmkd-01-20221101.csv,"[44.8792066, 39.1821906]"
...,...,...,...,...,...
827947,9103545,"г. Севастополь, ул. Ярославская, д. 30","71,30",export-reestrmkd-92-20221101.csv,"[44.5963476, 33.5676176]"
827948,9103546,"г. Севастополь, ул. Ярославская, д. 33","71,30",export-reestrmkd-92-20221101.csv,"[44.5959173, 33.5686703]"
827949,9103547,"г. Севастополь, ул. Ярославская, д. 40","72,00",export-reestrmkd-92-20221101.csv,"[44.5953965, 33.5688967]"
827950,9098909,"г. Севастополь, ул. Ясная, д. 1, лит. б","387,90",export-reestrmkd-92-20221101.csv,"[44.5356732, 33.6201959]"
827951,9098911,"г. Севастополь, ул. Ясная, д. 2, лит. б","390,20",export-reestrmkd-92-20221101.csv,"[44.5358033, 33.6198045]"

In [8]:
#Функция разбивает координаты на широту и долготу
def correct_coords(row, side):
    return row['coords'][side]
df_all_correct['lat'] = df_all_correct.apply(correct_coords, args=(0,), axis=1)
df_all_correct['lon'] = df_all_correct.apply(correct_coords, args=(1,), axis=1)
df_final = df_all_correct.drop('coords', axis='columns')
df_final

,id,address,area_residential,filename,lat,lon
0,9001067,"Респ. Адыгея, г. Адыгейск, д. 888888","2,00",export-reestrmkd-01-20221101.csv,44.883943,39.190786
1,6472757,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 25","1818,00",export-reestrmkd-01-20221101.csv,44.879606,39.190019
2,6472669,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 27","1818,00",export-reestrmkd-01-20221101.csv,44.879770,39.191084
3,8928733,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 31","2729,00",export-reestrmkd-01-20221101.csv,44.880272,39.191226
4,6551241,"Респ. Адыгея, г. Адыгейск, ул. Коммунистическа...","2522,00",export-reestrmkd-01-20221101.csv,44.879207,39.182191
...,...,...,...,...,...,...
827947,9103545,"г. Севастополь, ул. Ярославская, д. 30","71,30",export-reestrmkd-92-20221101.csv,44.596348,33.567618
827948,9103546,"г. Севастополь, ул. Ярославская, д. 33","71,30",export-reestrmkd-92-20221101.csv,44.595917,33.568670
827949,9103547,"г. Севастополь, ул. Ярославская, д. 40","72,00",export-reestrmkd-92-20221101.csv,44.595396,33.568897
827950,9098909,"г. Севастополь, ул. Ясная, д. 1, лит. б","387,90",export-reestrmkd-92-20221101.csv,44.535673,33.620196
827951,9098911,"г. Севастополь, ул. Ясная, д. 2, лит. б","390,20",export-reestrmkd-92-20221101.csv,44.535803,33.619805

In [9]:
df_final.to_csv("final_csv.csv", index=False)

In [10]:
df_final_test = pd.read_csv("final_csv.csv")
df_final_test.head(-5)

,id,address,area_residential,filename,lat,lon
0,9001067,"Респ. Адыгея, г. Адыгейск, д. 888888","2,00",export-reestrmkd-01-20221101.csv,44.883943,39.190786
1,6472757,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 25","1818,00",export-reestrmkd-01-20221101.csv,44.879606,39.190019
2,6472669,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 27","1818,00",export-reestrmkd-01-20221101.csv,44.879770,39.191084
3,8928733,"Респ. Адыгея, г. Адыгейск, ул. Горького, д. 31","2729,00",export-reestrmkd-01-20221101.csv,44.880272,39.191226
4,6551241,"Респ. Адыгея, г. Адыгейск, ул. Коммунистическа...","2522,00",export-reestrmkd-01-20221101.csv,44.879207,39.182191
...,...,...,...,...,...,...
827942,9000415,"г. Севастополь, ул. Якорная, д. 12","1394,50",export-reestrmkd-92-20221101.csv,44.627975,33.531248
827943,9087953,"г. Севастополь, ул. Ялтинская, д. 7","1944,10",export-reestrmkd-92-20221101.csv,44.599357,33.520341
827944,9064760,"г. Севастополь, ул. Ялтинская, д. 11","514,20",export-reestrmkd-92-20221101.csv,44.598705,33.519618
827945,9363816,"г. Севастополь, ул. Ялтинская, д. 12","1312,70",export-reestrmkd-92-20221101.csv,44.599767,33.520143
827946,9088530,"г. Севастополь, ул. Ярославская, д. 17","71,60",export-reestrmkd-92-20221101.csv,44.597358,33.566770